<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="icon" type="image/x-icon" href="img/weather.png">
    <title>404</title>
</head>

<body>
        <div class="main-content">

    {{>header}}
    <div>
        {{errorMessage}}
    </div>
    </div>
{{>footer}}
</body>
</html>