<!DOCTYPE html>

<html>

<head>
    
    <link rel="icon" type="image/x-icon" href="img/weather.png">

    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <title>Home page</title>
</head>

<body>
    <div class="main-content">
        
        {{>header}}
        <p>Use this site to get your weather</p>
        <form>
            <input placeholder="Location">
            <button onclick=>Search</button>
        </form>

        <p id="errorParagraph"></p>
        <p id="locationParagraph"></p>

        <p id="forecastParagraph"></p>
    </div>
    
    

    {{>footer}}


    <script src="js/app.js"></script>

</body>
</html>